{% extends "base.html.twig" %}

{% block title %}Blog{% endblock %}

{% block content %}
    <section>
        {% for b in blog %}
            <article>
                <h2>{{ b.title }}</h2>
                <p>{{ b.body }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}
