// =========================================================
// INCLUDE WEBFONTS
// =========================================================



// =========================================================
// FONT-FAMILIES
// =========================================================


@mixin helvetica-light  {
    font-family: Helvetica, sans-serif;
    font-weight: light;
}

@mixin helvetica-normal  {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

@mixin helvetica-bold  {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}


// =========================================================
// FONT-SIZE MIXINS
// =========================================================

// Define your font-sizes here
// possibilities:
//     font-size, font-size-sm, font-size-md, font-size-lg, font-size-xl
//     line-height, line-height-sm, line-height-md, line-height-lg, line-height-xl
// Use: @include font-size(xxx)

@mixin font-size( $type: fs-100 ) {
    $types: (
        fs-90: (
            font-size: 11px,
            font-size-md: 12px,
            line-height: 120%
        ),
        fs-100: (
            font-size: 12px,
            font-size-md: 14px,
            font-size-xl: 16px, // -> base font size
            line-height: 140%
        ),
        fs-120: (
            font-size: 16px,
            font-size-xl: 18px,
            line-height: 140%
        ),
        fs-140: (
            font-size: 18px,
            font-size-xl: 22px,
            line-height: 105%,
            line-height-md: 112%
        ),
        fs-160: (
            font-size: 24px,
            font-size-md: 28px,
            font-size-lg: 30px,
            font-size-xl: 32px,
            line-height: 120%,
            line-height-md: 120%,
            line-height-lg: 120%
        ),
    );

    // Generating mixins below: Do not change
    $type: map-get($types, $type);

    // LINE-HEIGHTS
    @if map-has-key($type, line-height) {
        line-height: map-get($type, line-height);
    }
    @if map-has-key($type, line-height-sm) {
        @include size-sm-up {
            line-height: map-get($type, line-height-sm);
        }
    }
    @if map-has-key($type, line-height-md) {
        @include size-md-up {
            line-height: map-get($type, line-height-md);
        }
    }
    @if map-has-key($type, line-height-lg) {
        @include size-lg-up {
            line-height: map-get($type, line-height-lg);
        }
    }
    @if map-has-key($type, line-height-xl) {
        @include size-xl-only {
            line-height: map-get($type, line-height-xl);
        }
    }

    // FONT-SIZES
    @if map-has-key($type, font-size) {
        font-size: map-get($type, font-size);
    }
    @if map-has-key($type, font-size-sm) {
        @include size-sm-up {
            font-size: map-get($type, font-size-sm);
        }
    }
    @if map-has-key($type, font-size-md) {
        @include size-md-up {
            font-size: map-get($type, font-size-md);
        }
    }
    @if map-has-key($type, font-size-lg) {
        @include size-lg-up {
            font-size: map-get($type, font-size-lg);
        }
    }
    @if map-has-key($type, font-size-xl) {
        @include size-xl-only {
            font-size: map-get($type, font-size-xl);
        }
    }
}

// =========================================================
// Font-Settings
// =========================================================

html     {
    @include font-size(fs-100);
    @include helvetica-normal;
    color: $black;
    text-align: left;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a   {
    &:hover, &:focus {
        cursor: pointer;
    }
}

strong, b  {
    @include helvetica-bold;
}

i, em   {
    font-style: italic;
}

sup, sub {
    font-size: 60%;
    line-height: 0;
}
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}

// =========================================================
// FONT CLASSES
// =========================================================

.t-foo   {
}
