// =========================================================
// Z-INDEXES
// =========================================================

$zindex-positions: (
    foo : 2,
    bar : 3
);

@mixin z-index($z-index) {
    z-index: map-get($zindex-positions, $z-index);
};

// USE z-index mixins
/*
header {
  @include z-index('header');
}
*/

// =========================================================
// OTHER MIXINS
// =========================================================

// CLEARFIX
@mixin clearfix {
    content: '';
    display: table;
    clear: both;
}

// VISUALL HIDDEN (FOR SCREENREADERS)
@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
